@font-face {
    font-family: "FantasqueSansMono";
    src: url("../assets/font/FantasqueSansMono-Regular.ttf"),
        local("FantasqueSansMono-Bold"),
        url("../assets/font/FantasqueSansMono-Bold.ttf");
}

* {
    padding: 0;
    font-family: "FantasqueSansMono", monospace;
}

/*
    LOADER BY: https://stackabuse.com/loading-animation-in-vanilla-javascript/
*/

#loader {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 1;
    background: #222222;
}

/* https://css-loaders.com/spinner/ */
/* HTML: <div class="loader"></div> */
.spinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, white 94%, #0000) top/8px 8px
            no-repeat,
        conic-gradient(#0000 30%, white);
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 8px),
        #000 0
    );
    mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13 {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
    END OF LOADER
*/

#app {
    position: fixed;
    overflow: hidden;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    padding: 0;
    margin: 0;

    background: rgba(0, 0, 0, 0.7) url("../assets/background.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

#main {
    display: grid;
    grid-template-areas:
        "search search"
        "links  deco";
    row-gap: 2em;
}

#search {
    grid-area: search;
    display: flex;

    padding: 0;

    width: 25em;
    height: 2em;
    #search-type {
        width: 5rem;
        margin-right: 1rem;
        transition: 0.4s;
        padding: 0.2rem;
        border-radius: 0.25rem;
        border: none;
        background-color: #ffffff99;
    }
    #search-type:hover {
        background-color: #ffffffff;
        cursor: pointer;
    }
    #search-button {
        align-self: end;
        margin: 0;

        width: 10%;
        height: 100%;

        border: transparent;
        overflow: hidden;

        background: url("../assets/search.svg");
        background-size: 85%;
        filter: brightness(60%);
        background-position: center;
        background-repeat: no-repeat;
    }
    #search-button:hover {
        filter: brightness(80%);
        cursor: pointer;
    }
    #search-button:active {
        filter: brightness(100%);
    }
    #search-box {
        align-self: start;
        margin: 0;

        flex-grow: 1;
        height: 2em;

        color: white;
        outline: 0 !important;

        border: transparent;
        border-bottom: solid white 0.1em;
        background: transparent;
    }
    #search-box:focus {
        border-bottom: solid white 0.2em;
    }
}

#links {
    grid-area: links;
}

#deco {
    grid-area: deco;
    display: grid;
    place-items: center;
    padding: 0;
    overflow: hidden;
}

#deco-img {
    margin: 0;
    height: 100%;
    width: 12rem;
    mix-blend-mode: screen;
    user-select: none;
}

#deco-text {
    color: white;
    text-align: justify;
    user-select: none;
}

#links {
    display: flex;
    justify-content: space-between;
    width: 10em;
}

#links div img {
    display: block;
}

.link-column {
    width: 3em;
    margin: 0;
}

.link {
    margin-bottom: 1em;
    width: 2em;
    height: 2em;
    user-select: none;
    opacity: 50%;
    flex-grow: 1;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(11deg) brightness(108%) contrast(101%);
}
.link:hover {
    cursor: pointer;
    opacity: 80%;
}

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.wh-100 {
    height: 100%;
    width: 100%;
}

.center-grid {
    display: grid;
    place-items: center;
}
